<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
</head>
<body>
  <figure>
    <h2><%=pic.title%></h2>
    <a href="<%=pic.linkURL%>" target="_blank"><img src="/<%=pic.pathURL%>" alt="<%=pic.description%>" height="<%=pic.height%>" width="<%=pic.width%>"></a>
    <figcaption>
      <p><%=pic.description%></p>
      <p>Photo by: <a href="<%=pic.creditURL%>" class="link" target="_blank"><%=pic.credit%></a></p>
    </figcaption>
  </figure>
</body>
</html>